include GUESSmyLT/bowtie2
include GUESSmyLT/busco
include GUESSmyLT/config.json
include GUESSmyLT/inferr
include GUESSmyLT/Snakefile
include GUESSmyLT/trinity
include GUESSmyLT/inferr_lib.py
include GUESSmyLT/check_programs
include GUESSmyLT/subsample
include example_run/example.py
include example_run/4_r1.fastq.gz
include example_run/4_r2.fastq.gz
include example_run/4.fa
